<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>CRUD MongoDB</title>
    <style>
        .container {
            max-width: 960px;
        }
    </style>
</head>

<body>

    <table>

        <tbody>

            <tr>
                <td>
                    <h2>Gestionando incidente <%= inc.cod %>
                    </h2>
                    <h3>Evento: <%= inc.asunto %>
                    </h3>
                    <h3>Prioridad: <%= inc.p %>
                    </h3>
                </td>
                <td>
                    <h4>Responsable: <%= inc.asignado_a %>
                    </h4>
                    <% var textoBoton %>
                    <% if(inc.solucionado){ %>
                    <h4>Estado: Solucionado </h4>
                    <% textoBoton="Volver" %>
                    <% } else{ %>
                    <h4>Estado: Pendiente </h4>
                    <% textoBoton="Solucionar" %>
                    <% } %>


                </td>
            </tr>


        </tbody>

    </table>

    <br> <br>
    <h3>Detalle</h3>
    <p>
        <%= inc.descripcion %>
    </p>

    <br> <br>

    <h3>Notas de resolución:</h3>
    <textarea name="textSolucion" id="textSolucion" cols="110" rows="10"><%= inc.resolucion %> </textarea>

    <br><br>
    <input type="submit" id="btnSolucionar" value=<%=textoBoton %>>

    <script>

        let resolucion
        let etiquetaBoton = document.getElementById('btnSolucionar').value //Texto del botón
        let notaCierre = document.getElementById('textSolucion') //Información del textArea
        
        function estaSolucionado(){ //Conozco el estado del incidente
                if (etiquetaBoton == "Volver") {
                    notaCierre.setAttribute("readonly", true) //Asigno la propiedad readonly
                    return true //Retornos 
                } else{
                    return false
                 }
        }
        document.addEventListener("DOMContentLoaded", estaSolucionado) // Una vez cargue el DOM compruebo y bloqueo el textArea     
        document.getElementById("btnSolucionar").onclick = function () { //Tomo el evento click
            if(!estaSolucionado()){ //Asigno rutas
                resolucion = notaCierre.value //Recupero la info del textArea
                window.location.href = "http://localhost:3000/cambioEstado/<%= inc._id %>/"+resolucion
            } else{
                window.location.href = "http://localhost:3000/volver"
            } 
            
        };
       
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="/public/js/code.js"></script>
</body>

</html>